.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    height: 100px;
    z-index: 1;
    background-color: #0f0f32;
    
}
.toolbar{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.rightsection{
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    width: 1fr;
    flex-shrink: 0;
    flex-grow: 0;
}
.leftsection{
    width: 1fr;
}
.logo{
    width: 150px;
    padding-top: 15px;
    padding-left: 15px;
}
.middlesection{
    flex: 1;
}
.concepts-button{
    background-color: transparent;
    border-radius: 7px;
    border: none;
    color: #FBFCF8;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.homepage-button:hover{
    opacity: 0.8;
    transition: opacity 0.5s;
}
.homepage-button{
    background-color: transparent;
    border: none;
    color: #FBFCF8;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.concepts-button:hover{
    opacity: 0.8;
    transition: opacity 0.5s;
}
.techniques-button{
    background-color: #8AAAE5;
    border: none;
    color: #FBFCF8;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 7px;
}
.techniques-button:hover{
    opacity: 0.8;
    transition: opacity 0.5s;
}
.resources-button{
    background-color: transparent;
    border: none;
    color: #FBFCF8;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.resources-button:hover{
    opacity: 0.8;
    transition: opacity 0.5s;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 50px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    margin-top: 75px;
    color: white;
}
.title2{
    font-size: 30px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    margin-top: 120px;
    color: rgb(160, 103, 236);
}

.title2-description{
    font-size: 18px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    margin-top: 50px;
    color: rgb(160, 103, 236);
    text-align: center;
    width: 700px;
}
  .stagger-visualizer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 17rem;
  }
  
  .stagger-visualizer div{
    /*position: absolute;*/
    width: 1rem;
    height: 1rem;

    background-color: #FFF;
  }
  .containerasef{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;
      height: 400px;
      background-color: #2b2b69;
      z-index: 100;
    }
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 100px;
}
.firsttechnique{
    height: 300px;
    width: 900px;
    border-radius: 8px;
    background-color: rgb(126, 108, 218);
    shadow: 3px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.image1{
    height: 200px;
    border-radius: 10px 10px;;
    margin-left: 30px;
    opacity: 0.7;
}
.firsttechniquetext{
    margin-left: 30px;
    margin-top: 20px;
}
.techniquetitle{
    font-family: 'Arvo', serif;
    font-size: 35px;
    color: black;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 40px;
}
.descriptionfirst{
    font-family: 'Arvo', serif;
    font-size: 18px;
    width: 500px;
    text-align: center;
}
.stop{
    text-decoration: none;
    color: black;
}
.whynot{
    color: rgb(88, 169, 230);
    

}
.secondtechnique{
    height: 300px;
    width: 900px;
    border-radius: 8px;
    background-color: rgb(126, 108, 218);
    shadow: 3px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.secondtechniqueimage{
}
.image2{
    height: 200px;
    border-radius: 10px 10px;;
    margin-left: 30px;
    opacity: 0.85;
}
.secondtechniquetext{
    margin-left: 30px;
    margin-top: 20px;
}
.descriptionsecond{
    font-family: 'Arvo', serif;
    font-size: 18px;
    width: 500px;
    text-align: center;
}
.h1{
    position: relative;
    z-index: 10; 
    font-family: 'Arvo', serif;
    font-size: 40px;
  }
.wave-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .animation-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    background-color: blue;
    bottom: 0;
    left: 0;
    right: 0;
    height: 700px;
    margin-bottom: -33px;
    flex: 1;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 100px;
    grid-column-gap: 200px;
    margin-top: 100px;
  }